<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>店铺信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/lib/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui-1.10.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/template.js}"></script>
    <script type="text/javascript" th:src="@{/lib/fileUpload.js}"></script>
    <script type="text/javascript" th:src="@{/lib/global.js}"></script>
    <script type="text/javascript" th:src="@{/js/shop/edit.js}"></script>
</head>
<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>
    <div class="mainpanel">
        <div class="add-giftquan-wrap">
            <div class="hd">
                <div class="bar edit-bar">店铺设置</div>
            </div>
            <div th:if="${message!=null}" th:class="${message.status}" th:text="${message.message}"></div>
            <div class="row">
                <form class="form-horizontal pt50" id="form" th:object="${shop}" th:method="put" th:attr="data-id=${shop.id}">
                    <div class="form-group">
                        <label class="col-md-4 control-label required">名称：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{name}"/>
                            <i class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">必填</i>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label">大LOGO显示？：</label>
                        <div class="col-md-3">
                        	<select class="form-control" th:field="*{isBigLogo}">
                                <option value="">--请选择--</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group imgUp">
                        <label class="col-md-4 control-label">Logo：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{imgHref}}" alt="点击上传"/>
                            <input type="hidden" th:field="*{imgHref}"/>
                            <input type="file" id="imgUp1"/>
                        </div>
                    </div>
                    <div class="form-group">
  						<label class="col-md-4 control-label"></label>
                    	<label class="col-md-4 red">请上传小于1MB文件大小的图片，图片仅限PNG、JPG格式<br/>建议尺寸：84像素 * 65像素</label>
                    </div>
                    
                    <div class="form-group imgUp">
                        <label class="col-md-4 control-label">店铺图片：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{shopImg}}" alt="点击上传"/>
                            <input type="hidden" th:field="*{shopImg}"/>
                            <input type="file" id="imgUp2"/>
                        </div>
                    </div>
                    <div class="form-group">
  						<label class="col-md-4 control-label"></label>
                    	<label class="col-md-4 red">请上传小于1MB文件大小的图片，图片仅限PNG、JPG格式<br/>建议尺寸：178像素 * 99像素</label>
                    </div>
                    
                    <div class="form-group imgUp">
                        <label class="col-md-4 control-label">店铺图片2：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{shopImg2}}" alt="点击上传"/>
                            <input type="hidden" th:field="*{shopImg2}"/>
                            <input type="file" id="imgUp3"/>
                        </div>
                    </div>
                    <div class="form-group">
  						<label class="col-md-4 control-label"></label>
                    	<label class="col-md-4 red">请上传小于1MB文件大小的图片，图片仅限PNG、JPG格式<br/>建议尺寸：178像素 * 99像素</label>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label required">店铺编号：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{shopKey}"/>
                            <i class="error" th:if="${#fields.hasErrors('shopKey')}" th:errors="*{shopKey}">必填</i>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="col-md-4 control-label required">楼层：</label>
                        <div class="col-md-3">
                            <select th:field="*{floor}" class="form-control">
                                <option value="">--请选择--</option>
                                <option th:each="c : ${floors}" th:value="${c.id}" th:text="${c.name}">name
                                </option>
                            </select>
                            <i class="error" th:if="${#fields.hasErrors('shopKey')}" th:errors="*{shopKey}">必填</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">电话：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{phone}" placeholder="电话"/>
                            <i class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">必填</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">营业时间：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{businessHour}" placeholder="营业时间"/>
                            <i class="error" th:if="${#fields.hasErrors('businessHour')}" th:errors="*{businessHour}">必填</i>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label">店铺描述：</label>
                        <div class="col-md-3">
                            <textarea class="form-control" rows="6" th:field="*{descpriton}"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-4 control-label">序号：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{sort}"  placeholder="序号越小越靠前"/>
                            <i class="error" th:if="${#fields.hasErrors('sort')}" th:errors="*{sort}">必填</i>
                        </div>
                    </div>
                    
                    <div class="group-ft col-xs-offset-4 mt50">
                       	<a th:href="@{/admin/shops}" class="btn btn-default">返回</a>
                        <input type="submit" class="btn btn-success ml-40" value="确认"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="alert" th:if="${status}!=null" th:class="${status.status}">
    <div class="success-modal">
        <div class="show-msg">
            <div class="alert alert-success" role="alert" th:text="${status.message}">用户创建成功</div>
            <div class="success-bg"><img th:src="@{/img/icon-success.jpg}"/></div>
        </div>
    </div>
    <div class="fixed"></div>
</div>
</body>
</html>