<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>礼品券列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.css}"/>
    <script type="text/javascript" th:src="@{/lib/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui-1.10.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/template.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jsRender.js}"></script>
    <script type="text/javascript" th:src="@{/lib/page.js}"></script>
    <script type="text/javascript" th:src="@{/lib/validate.js}"></script>
    <script type="text/javascript" th:src="@{/lib/datepicker-zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/lib/global.js}"></script>
    <script type="text/javascript" th:src="@{/js/giftCoupon/list.js}"></script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="gift-wrap container">
            <div class="hd clearfix">
                <div class="bar base-bar short-bar pull-left">礼品券</div>
                <a class="btn btn-info" th:href="@{/admin/giftCoupons?form}">添加</a>
            </div>
            <form class="form-inline" th:object="${form}" id="queryForm">
                <div class="form-group">
                    <label>规则状态</label>
                    <select class="form-control w120" th:field="*{state}">
                        <option value="">全部</option>
                        <option value="USING">使用中</option>
                        <option value="CLOSED">已关闭</option>
                        <option value="EXPIRE">已过期</option>
                        <option value="NOEXPIRE">未生效</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>生效日期</label>
                    <input class="form-control datepicker " placeholder="" type="text" th:field="*{beginTime}"/> -
                    <input class="form-control datepicker " placeholder="" type="text" th:field="*{endTime}"/>
                </div>
                <button class="btn btn-primary btn-xs" type="submit">查找</button>
            </form>

            <table class="table table-striped bg-white">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>卡券金额</th>
                    <th>兑换积分</th>
                    <th>生效日期</th>
                    <th>失效日期</th>
                    <th>数量</th>
                    <th>核销截止日期</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r:${lists.content}">
                    <td><a th:text="${r.name}" th:href="@{/admin/giftCoupons/__${r.id}__}">名称</a></td>
                    <td th:text="${r.amount}" ></td>
                    <td th:text="${r.score}" ></td>
                    <td th:text="${r.beginTime}" ></td>
                    <td th:text="${r.endTime}" ></td>
                    <td th:text="${r.total==null?'无限制':r.total}" ></td>
                    <td th:text="${r.couponEndTime==null?'无限制':r.couponEndTime}" ></td>
                    <td th:class="${r.cssClass}" th:text="${r.state}" ></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination-wrap">
                <div th:replace="admin/layout/page::page"></div>
            </div>
        </div>
    </div>
</div>
<script id="detail" type="text/x-jsrender">
	{{for content}}
	<tr>
		<td><a href="/crm/admin/giftCoupons/{{>id}}">{{>name}}</a></td>
		<td>{{>amount}}</td>
		<td>{{>score}}</td>
		<td>{{>beginTime}}</td>
		<td>{{>endTime}}</td>
		<td>{{>total}}</td>
		<td>{{>couponEndTime}}</td>
		<td class="{{>cssClass}}">{{>state}}</td>
	</tr>
	{{/for}}
</script>
</body>
</html>
