<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>会员介绍</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/lib/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui-1.10.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/validate.js}"></script>
    <script type="text/javascript" th:src="@{/lib/datepicker-zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/lib/template.js}"></script>
    <script type="text/javascript" th:src="@{/lib/ckeditor/ckeditor.js}"></script>
    <script type="text/javascript" th:src="@{/lib/ckeditor/adapters/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/lib/fileUpload.js}"></script>
    <script type="text/javascript" th:src="@{/lib/global.js}"></script>
    <script type="text/javascript" th:src="@{/js/memberintro/edit.js}"></script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="member-jfe-wrap container">
            <div th:class="${message.status}" th:text="${message.message}" th:if="${message!=null}"></div>
            <div class="show-msg pl70">
                <form class="form-horizontal pt50" id="form" th:attr="data-id=${memberIntro.id}" th:object="${memberIntro}"
                      th:method="post">    

                     <div class="form-group imgUp">
                        <label class="col-md-4 control-label required">顶部背景图：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{coverImg}}" alt="点击上传"/>
                            <input type="file" id="imgUp1"/>
                            <input type="hidden" th:field="*{coverImg}"/>
                        </div>
                    </div>
                    <div class="form-group">
  						<label class="col-md-4 control-label"></label>
                    	<label class="col-md-5 red">请上传小于1MB文件大小的图片，图片仅限PNG、JPG格式<br/>建议尺寸：965像素 * 324像素</label>
                    </div>
                    <!-- 
                    <div class="form-group">
                        <label class="col-md-4 control-label required">会员积分介绍：</label>
                        <div class="col-md-5">
                            <textarea class="form-control" rows="6" th:field="*{introduction}"></textarea>
                        </div>
                    </div>
                     -->
                    <div class="form-group imgUp">
                        <label class="col-md-4 control-label required">微信公众号：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{useImg}}" alt="点击上传"/>
                            <input type="file" id="imgUp2"/>
                            <input type="hidden" th:field="*{useImg}"/>
                        </div>
                    </div>
                    <div class="form-group">
  						<label class="col-md-4 control-label"></label>
                    	<label class="col-md-5 red">请上传小于1MB文件大小的图片，图片仅限PNG、JPG格式<br/>建议尺寸：542像素 * 141像素</label>
                    </div>
                    <div class="form-group imgUp">
                        <label class="col-md-4 control-label required">二维码：</label>
                        <div class="col-md-5">
                            <img th:src="@{*{memberRightsImg}}" alt="点击上传"/>
                            <input type="file" id="imgUp3"/>
                            <input type="hidden" th:field="*{memberRightsImg}"/>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-md-4 control-label required">会员章程描述：</label>
                        <div class="col-md-5">
                            <textarea class="form-control" rows="6" th:field="*{memberRightsContent}"></textarea>
                        </div>
                    </div>
                      -->
                    <div class="group-ft col-xs-offset-4 mt50">
                        <a th:href="@{/admin/memberintro}" class="btn btn-default ml50">返回</a>
                        <input type="submit" class="btn btn-success ml-40" value="确认"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
