<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>店铺管理列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-override.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-1.10.3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/lib/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap-timepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery-ui-1.10.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/template.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jsRender.js}"></script>
    <script type="text/javascript" th:src="@{/lib/page.js}"></script>
    <script type="text/javascript" th:src="@{/lib/confirm.js}"></script>
    <script type="text/javascript" th:src="@{/lib/global.js}"></script>
    <script>
        $(function () {
				$('#valid').confirm({
					formId:'#form',
					beforeSubmit:function(){
						var id=$('#valid').attr('data-id');
						$('form').attr('action',global.context+'/admin/shopCategories/'+id+'/valid');
					}
				});
        });
    </script>
</head>

<body>
<div class="header clearfix">
    <div th:replace="admin/layout/header::header"></div>
</div>
<div class="mainwrapper clearfix">
    <div th:replace="admin/layout/menu::menu"></div>

    <div class="mainpanel">
        <div class="shop-wrap container">
            <div class="hd clearfix">
                <div class="bar base-bar short-bar pull-left">业态管理</div>
            </div>
            <div class="row">
                <form class="form-horizontal pt50" th:object="${category}" th:method="put" id="form">
                    <div class="form-group">
                        <label class="col-md-4 control-label required">名称：</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                    </div>
                <div class="form-group">
                    <label class="col-md-4 control-label required">状态：</label>
                    <div class="col-md-3" style="margin-top:9px">
                    	<span th:text="${category.valid.toString()=='INVALID'}?冻结:正常"></span>
                    </div>
					<input type="submit" id="valid" th:attr="data-id=${category.id}"  th:class="${category.valid.toString()=='VALID'}? 'btn btn-open ml-40' : 'btn btn-close ml-40' "  th:value="${category.valid.toString()=='VALID'}?冻结:解冻"/>
                </div>
                    <div class="group-ft col-xs-offset-4 mt50">
                       	<a th:href="@{/admin/shopCategories/__${category.parent.id}__}" class="btn btn-default">返回</a>
                        <input type="submit" class="btn btn-success ml-40" value="确认"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="dialog-confirm" title="" th:attr="title=${category.valid.toString()=='VALID'}?是否确认冻结该业态:是否确认解冻该业态">
	<p th:text="${category.name}"></p>
</div>
</body>
</html>