<!-- 首页Footer -->
<footer th:fragment="footer-index"
	class="sitecontent transform index-ft">
<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 会员页Footer -->
<footer th:fragment="footer-vip" class="sitecontent transform vip-ft">
	<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 活动页 Footer-->
<footer th:fragment="footer-activity" class="sitecontent transform">
<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 关于我们Footer -->

<footer th:fragment="footer-about" class="sitecontent transform">
<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="modal fade" id="shModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="padding-bottom: 30px;">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="sh_map_container">
					<div id="sh-map"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 品牌页Footer -->
<footer class="sitecontent transform" th:fragment="footer-brand">
<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 餐饮Footer -->
<footer class="sitecontent transform" th:fragment="footer-brand-food">
<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 零售Footer -->
<footer class="sitecontent transform" th:fragment="footer-brand-retail">
<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 娱乐生活Footer -->
<footer th:fragment="footer-brand-fun" class="sitecontent transform">
	<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
<!-- 儿童亲子Footer -->
<footer th:fragment="footer-brand-child" class="sitecontent transform">
	<div class="innerFoot">
		<span class="ba">沪ICP备16025913号-1 Copyright 2017</span>
		<div class="shareTool jiathis_style">
			<a class="weight" id="share">分享</a> <a class="jiathis_button_weixin"></a>
		</div>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"
			charset="utf-8"></script>
	</div>
</footer>
<div class="iPage bgmask sitecontent transform"></div>
